<div class="container-fluid">
    <div class="row main" *ngIf="!showArrow">
        <div class="col-md-8 logo">
            <i class="lab la-artstation"></i>&nbsp;&nbsp;
            <h1>Suresh Tech </h1>&nbsp;&nbsp;
          
            
        </div>
        <div class="col-md-4">
            <button routerLink="/home" class="glow-on-hover" type="button">HOME </button>
            <!-- <button routerLink="/login" class="glow-on-hover">login</button>&nbsp;&nbsp; -->
            <!-- <button routerLink="/signup" class="glow-on-hover">Signup</button>&nbsp;&nbsp; -->
            <!-- <button routerLink="/rlogin" class="glow-on-hover">E Login</button> -->
            
        </div>
        
    </div>
    
</div>
