<div>
    <table class="table table-dark table-bordered" style="margin-top:30px">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Job Role</th>
                <th>Location</th>
                <th>Job Description</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody class="table table-dark">
            <tr *ngFor="let user of appliedJobData;let i =index">
                <td>{{i+1}}</td>
                <td>{{user.jobtitle}}</td>
                <td>{{user.joblocation}}</td>
                <td>{{user.jdesc}}</td>
                <td>{{user.skills}}</td>
            </tr>
        </tbody>
    </table>
</div>
