.userReg
 {
	padding-top:4.2rem;
	padding-bottom:4.2rem;
}
#first
{
	padding: 0px 70px;
	
}
#second
{
	padding: 100px 50px;
}
a
{
	text-decoration:none !important;
}
.myform
{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	/* background-color:#0c0c0c; */
	color: #0c0c0c;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}
.tx-tfm
{
	text-transform:uppercase;
}
.mybtn
{
	border-radius:10px;
	width:150px;
}
.login-or 
{
	 position: relative;
	 color: #aaa;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
.span-or 
{
	display: block;
	position: absolute;
    left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color:#555152;
	width: 50px;
	text-align: center;
}
.hr-or
{
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color:#aaa;
}
#second button
{
	margin-top: 30px;
	
}
.a {
	background-color: #57bbbf;
	height: 500px;
}
.numbers{
	background-color: #16163f;
}
.aa{
	text-align: center;
	color: #fff;
	font-size: 80px;
}
.b h1{
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.b p{
	font-size: 20px;
	color: #fff;
}
.ba{
	justify-content: space-around;
	display: flex;
}









