<!-- <app-header></app-header> -->
<div class="row">
	<div class="col-md-4">
		<div class="container col-md- offset-md-3 pt-5">
			<h1>Manipulate your Job with ease</h1>
			<p>Don’t just visualize your data — handle it in the most convenient way possible. With Forest
				Admin, your business teams can manipulate and organize data through one simple interface.</p>

		</div>
	</div>



	<div class="col-md-8">
		<div class="container col-md- offset-md-3 pt-5">
			<div class="myform">
				<form action="" method="post" name="login" [formGroup]="loginForm" (ngSubmit)="onLogin()">

					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label">Email address<span
								class="text-danger">*</span></label>
						<input type="email" name="loginEmail" class="form-control" placeholder="Enter email"
							formControlName="loginEmail" [ngClass]="{'fieldInvalid':'(minlength)||(required)'}">
					</div>

					<div
						[hidden]="loginForm.controls['loginEmail'].untouched || loginForm.controls['loginEmail'].valid">
						<div *ngIf="loginForm.controls['loginEmail'].hasError('required')" class="text-danger">
							Email required</div>
						<div *ngIf="loginForm.controls['loginEmail'].hasError('email')" class="text-danger">
							Email must be in email format</div>
					</div>

					<div *ngIf="isSubmitted" class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Success!</strong> You Login has been succcesful!.
						<button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>





					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label">Password<span
								class="text-danger">*</span></label>
						<input type="password" name="loginPass" class="form-control" placeholder="Enter Password"
							formControlName="loginPass" [ngClass]="{'fieldInvalid':'(pattern)||(required)'}">
					</div>
					<div
						[hidden]="loginForm.controls['loginEmail'].untouched || loginForm.controls['loginEmail'].valid">
						<div *ngIf="loginForm.controls['loginPass'].hasError('required')" class="text-danger">
							Password required</div>
					</div>


					<div *ngIf="isSubmitted2" class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Failed!</strong> You have not Registered!.
						<button (click)="closeAlert2()" type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>&nbsp;




					<div class="col-md-12 text-center">
						<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
					</div>

					<div class="col-md-12 ">
						<div class="login-or">
							<hr class="hr-or">
							<span class="span-or">or</span>
						</div>
					</div>
					<div class="form-group">
						<p class="text-center">Don't have account? <a routerLink="/recruiter/rsignup" id="signup">Sign up
								here</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>