<div class="main">
    <div class="logo">
        <img src="assets/logo1.jpg" alt="img">
        <h1>SW Jobs</h1>
    </div>
    <div class="lb">
    <a href="#"  routerLink="/loginselector" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        login
    </a>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        About
    </a>
    </div>

</div>

    <div class="main1">
        <div class="para">
            <h3>INTUITIVE USER EXPERIENCE</h3>
            <h1>It Consulting jobs
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Donec ullamcorper neque dapibus ipsum
                semper,
                <br>sit amet luctus turpis consectetur aliquet porttitor.
            </p>
        </div>
        <div class="img">
            <img src="assets/02.jpg" alt="img">
        </div>
    </div>









    <ul class="wrapper">
        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <span><i class="fab fa-twitter"></i></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><i class="fab fa-instagram"></i></span>
        </li>
        <li class="icon github">
          <span class="tooltip">Github</span>
          <span><i class="fab fa-github"></i></span>
        </li>
        <li class="icon youtube">
          <span class="tooltip">Youtube</span>
          <span><i class="fab fa-youtube"></i></span>
        </li>
      </ul>