<div class="container-fluid ">
    <div class=" row main">
        <div class="col-md-6 logo">
            <img src="assets/logo (1).png" alt="img">
            <h1>RK</h1>
        </div>
        <div class="col-md-6">
            <button routerLink="/home" class="btn">HOME</button>&nbsp;
        </div>
        <div class="a">
            <button routerLink="/job-seeker/login"class="btn">LOGIN JOBSEEKAR</button>&nbsp;
            <button routerLink="/recruiter/rlogin"class="btn">LOGIN RECRUITE</button>&nbsp;
        </div>

    </div>


    
    <div class="c">&nbsp;
        <p>
            <ngb-progressbar type="success" [value]="25">25</ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar type="info" [value]="50">Copying file <b>2 of 4</b>...</ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar type="danger" [value]="100" [striped]="true">Completed!</ngb-progressbar>
        </p>
    </div>
</div>