/* *{
    font-family: play;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 400px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0,15px,25px rgba(0,0,0,1);
}
.box h2{
    margin: 0 0 30px;padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.input .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: transparent;
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: o;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
}
.box .inputBox input:focus ~ label,.box .inputBox input:valid ~ label{
top: 25px;
left: 0;
font-weight: bold;
font-size: 14px;
color: rgb(2,77,28);
}
.box input[type="submit"]{
    background: transparent;
    color: rgb(145,2,2);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 100px;
    border: 3px solidrgb15,71,1;
    box-shadow: 10px,15px,15px rgba(0,0,0,1);
}

 */







 .myform
{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color:#0c0c0c;
	color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}
